.newGameForm {
  display: flex;
  flex-direction: column;
}

.formItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 50%;
  margin: 5px;
}

.formLabel {
  flex: 1;
}

.formInput {
  flex: 4;
}

.newGameForm button {
  width: 30%;
}

input[type='checkbox'] {
  cursor: pointer;
}

@media (max-width: 900px) {
  .formItem {
    width: 95%;
  }
}
