.detailsContainer {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5rem;
  background-color: darkgray;
  padding: 20px 0;
  border-radius: 10px;
}

.detaisContainer__heading {
  font-weight: bold;
}
